<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.nicolaj.bootstrap-update</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>cd {{ playbook_dir }} &amp;&amp; git pull -q --ff-only &amp;&amp; ansible-playbook setup.yml --skip-tags system || osascript -e 'display notification "See ~/Library/Logs/bootstrap-mac.log" with title "bootstrap-mac update failed"'</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict><key>PATH</key><string>{{ home }}/.local/share/mise/shims:{{ brew_prefix }}/bin:/usr/bin:/bin:/usr/sbin:/sbin</string></dict>
  <key>StartCalendarInterval</key>
  <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>{{ home }}/Library/Logs/bootstrap-mac.log</string>
  <key>StandardErrorPath</key><string>{{ home }}/Library/Logs/bootstrap-mac.log</string>
</dict>
</plist>
